@media (max-width: 479px) {
  .LoginModal p {
    font-size: 0.9rem;
  }
  .LoginModal h2 {
    font-size: 1.1rem;
  }
  .LoginModal h4 {
    font-size: 1rem;
  }
}
@media (min-width: 479px) {
  .LoginModal {
    margin: auto;
  }
  .LoginModal h2 {
    margin: 0;
  }
  .LoginModal h4 {
    margin: 0;
  }
  .LoginModal p {
    margin: 2px;
  }
}
