@media (max-width: 479px) {
  .Checkins .button-container {
    display: inline-block;
    height: auto;
    padding: 5px;
    vertical-align: middle;
  }
  .Checkins .button-container button {
    margin-right: 15px;
    margin-left: 15px;
  }
  .Checkins .button-container p {
    display: inline-block;
    position: relative;
    font-size: 1.4em;
    padding: 0;
    margin: 0;
    top: 2%;
  }
  .Checkins .DiscCard:last-of-type {
    margin-bottom: 60px;
  }
}
