#root {
  /* max-width: 1280px; */
  /* width: 100vw; */

  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}
@media (max-width: 479px) {
  .App > :nth-child(2) {
    margin-top: 160px;
  }
  textarea {
    width: 100%;
    /* border: 1px solid teal; */
    border-radius: 5px;
  }
  input,
  textarea,
  select {
    position: relative;
    display: inline;
    font-size: 24px;
  }
  .form-label {
    position: relative;
    display: block;
    font-size: 24px;
  }
  .form {
    margin: auto;
  }
  input,
  select {
    height: 40px;
    /* border: 1px solid teal; */
    border-radius: 5px;
  }
  .App .mb-3 {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: auto;
    /* outline: 1px solid teal; */
    width: 90vw;
  }
  .form-select {
    width: 100%;
    padding: 0px;
    margin: 0;
    display: inline-block;
  }
  input,
  textarea,
  select,
  .suggestion {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .form button {
    margin-top: 20px;
  }
  p {
    color: black;
  }
  #root::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .hr-line-teal {
    height: 2px;
    width: 100vw;
    background-color: var(--teal);
  }
  .hr-line-grey {
    height: 2px;
    width: 100vw;
    background-color: var(--grey);
  }
  #modal-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    width: 100vw;
  }
  #flash-container {
    height: 30px;
  }
  #flash-container p {
    font-weight: 600;
    color: rgb(139, 41, 41);
    margin: 0;
    padding: 0;
  }
  .bold-me {
    font-weight: bold;
  }
  .AuthRecovery h3 {
    margin-bottom: 0px;
  }
  #avatar-pic {
    border-radius: 50%;
    height: 250px;
    width: 250px;
  }
  .submit-buttons-container > * {
    margin: 15px;
  }
  .error-element img {
    width: 80vw;
  }
  .error-element h1 {
    margin: 0;
  }
  .error-element h3 {
    margin: 0;
  }
}
